.req{color:red !important; }
.spage {margin-top: 30px; background-color: #8a8a8d4d;line-height: 4}
.subpage{}
.errorcl{border-color: #e13156 !important;}
.sp_error{ color:red }
.cl_examdiv{
	margin-top: 10px;margin-left: 294px;color: #9f626f;
}

.theading
    {
        font-style: oblique;
        font-size: 20px;
        color: darkred;
        font-weight: bold;
    }
    .tvalue
    {
        font-size: 20px;
        color: darkblue;
        font-weight: bold;
    }