@charset "utf-8";
/* CSS Document */

body
{
	margin:0px;
	padding:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.maincontainer
{
	width:100%;
	height:auto;
}

.headerwrapper
{
	width:100%;
	float:left;
	height:60px;
	background:#fafafa;
	border-bottom:3px solid #00b19e;
}

.header
{
	width:1000px;
	margin:0 auto;
}

.logo
{
	float:left;
	width:200px;
	margin-top:20px;
}

.logo h1
{
	font-size:20px;
	margin:0px;
}

.date
{
	float:right;
	font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
}

.menu
{
	float:right;
	width:300px;
}

.bannerwrapper
{
	width:100%;
	float:left;
	height:180px;
}

.banner
{
	width:100%;
	margin:0 auto;
	height:180px;
}

.banner img
{
	width:100%;
	margin:0 auto;
}

.sep
{
	margin:0 375px;
	float:left;
	width:600px;
	height:52px;
	background:url(../image/sep.png) no-repeat;
}

.contentwrapper
{
	width:100%;
	float:left;
	height:auto;
	border-bottom:3px solid #00b19e;
}

.content
{
	width:1000px;
	margin:0 auto;
	height:280px;
}

.left
{
	float:left;
	width:550px;
	height:200px;
	margin-right:50px;
}

.left h2
{
	font-size:22px;
	color:#06F;
	margin:0px 0px 0px 0px;
}

.left p
{
	text-align:justify;
}

.right
{
	float:left;
	width:400px;
}

.loginbox
{
	float:left;
	width:368px;
	height:267px;
	background:url(../image/login_box.jpg) no-repeat;
}

.form-main
{
	float:left;
	width:300px;
	height:200px;
	padding:30px;
}

.form
{
	float:left;
	width:300px;
	height:30px;
	margin-top:30px;
	margin-bottom:20px;
}

.formleft1
{
	float:left;
	font-size:15px;
	color:#FFF;
	margin-right:40px;
	margin-bottom:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.formleft2
{
	float:left;
	font-size:15px;
	color:#FFF;
	margin-right:40px !important;
	margin-bottom:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-right: 20px;
}

.formright
{
	float:left;
}

.formright input[type=text],input[type=password]
{
	width:295px;
	height:25px;
	padding:5px;
	border:1px solid #3e6189;
	color:#FFF;
	font-size:16px;
	background: #58585b; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #58585b 1%, #2b2f32 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#58585b), color-stop(100%,#2b2f32)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #58585b 1%,#2b2f32 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #58585b 1%,#2b2f32 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #58585b 1%,#2b2f32 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #58585b 1%,#2b2f32 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58585b', endColorstr='#2b2f32',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.formright label
{
	float:left;
	width:200px;
}

.log
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 30px !important;
	width: 100px;
	color:#FFF;
	float:right;
	margin-right: -7px;
	border:1px solid #10263a;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	background: #8ac243; /* Old browsers */
	background: -moz-linear-gradient(top,  #8ac243 1%, #4a8523 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#8ac243), color-stop(100%,#4a8523)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8ac243 1%,#4a8523 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8ac243 1%,#4a8523 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8ac243 1%,#4a8523 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8ac243 1%,#4a8523 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac243', endColorstr='#4a8523',GradientType=0 ); /* IE6-9 */
}

.log:hover
{
	background: #75bc12; /* Old browsers */
	background: -moz-linear-gradient(top,  #75bc12 1%, #3c840b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#75bc12), color-stop(100%,#3c840b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #75bc12 1%,#3c840b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #75bc12 1%,#3c840b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #75bc12 1%,#3c840b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #75bc12 1%,#3c840b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bc12', endColorstr='#3c840b',GradientType=0 ); /* IE6-9 */
}

.right_lg
{
	float:left;
	width:1000px;
}

.loginbox_lg
{
	float:left;
	width:1000px;
	height:168px;
	background:url(../image/login_box_lg.jpg) no-repeat;
}

.form-main_lg
{
	float:left;
	width:850px;
	height:200px;
	padding:30px;
}

.form_lg
{
	float:left;
	width:320px;
	height:30px;
	margin-top:30px;
	margin-bottom:20px;
	margin-right:15px;
}

.form_lg_but
{
	float:left;
	width:100px;
	height:30px;
	margin-top:55px;
	margin-bottom:20px;
	margin-right:10px;
}

.formleft1_lg
{
	float:left;
	font-size:15px;
	color:#FFF;
	margin-right:40px;
	margin-bottom:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.formleft2_lg
{
	float:left;
	font-size:15px;
	color:#FFF;
	margin-right:40px !important;
	margin-bottom:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-right: 20px;
}

.formright_lg
{
	float:left;
}

.formright_lg input[type=text],input[type=password]
{
	width:295px;
	height:25px;
	padding:5px;
	border:1px solid #3e6189;
	color:#FFF;
	font-size:16px;
	background: #58585b; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #58585b 1%, #2b2f32 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#58585b), color-stop(100%,#2b2f32)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #58585b 1%,#2b2f32 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #58585b 1%,#2b2f32 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #58585b 1%,#2b2f32 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #58585b 1%,#2b2f32 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58585b', endColorstr='#2b2f32',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.formright_lg label
{
	float:left;
	width:200px;
}

.log_lg
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 40px !important;
	width: 100px;
	color:#FFF;
	float:right;
	margin-right: -7px;
	border:1px solid #10263a;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	background: #8ac243; /* Old browsers */
	background: -moz-linear-gradient(top,  #8ac243 1%, #4a8523 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#8ac243), color-stop(100%,#4a8523)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8ac243 1%,#4a8523 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8ac243 1%,#4a8523 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8ac243 1%,#4a8523 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8ac243 1%,#4a8523 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac243', endColorstr='#4a8523',GradientType=0 ); /* IE6-9 */
}

.log_lg:hover
{
	background: #75bc12; /* Old browsers */
	background: -moz-linear-gradient(top,  #75bc12 1%, #3c840b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#75bc12), color-stop(100%,#3c840b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #75bc12 1%,#3c840b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #75bc12 1%,#3c840b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #75bc12 1%,#3c840b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #75bc12 1%,#3c840b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bc12', endColorstr='#3c840b',GradientType=0 ); /* IE6-9 */
}

.clear
{
	clear:both;
}

.footerwrapper
{
	width:100%;
	float:left;
	height:65px;
	background-color:#24b5ad;
	background:url(../image/footer_bg.jpg) repeat-x;
}

.footer
{
	width:1000px;
	margin:0 auto;
}

.footer p
{
	text-align:center;
	color:#FFF;
	font-size:16px;
	margin-bottom:0px;
	margin-top:20px;
}

