/* Global Styles */

html,body{
	margin:0;
	padding:0;
	bgcolor:#f3faff;
	-webkit-font-smoothing: subpixel-antialiased;
	height:100%;
	}
.error
{
	 color:#F00;
}
.tpbg{
	background-image:url(images/tpbg.gif);
	height: 34px;
	background-repeat:repeat-x;
	}

.btmbg{
	background-image:url(images/btmbg.gif);
	height:151px;
	background-repeat:repeat-x;
	}
.space{
	padding-left:5px;
	}
.txtfield{
	border: 1px solid #757474;
	background-color: #b4cdde;
	height: 17px;
	width:120px;
	font-family:verdana;
	font-size:12px;
	color:#ce0802;
	}

#date{
	width: 900px;
	color:#ffffff;
	font-family:verdana;
	font-size:11px;
	}

	
td {
	font:12px verdana;
	color:#00152B;
	font-weight:400;
	}
	
a {
	color: #FF6600;

	font-weight:bold;
	}
	
a:hover {
	color: #3366CC;
	}

/* ID Styles */

#navigation td {
	border-bottom: 2px solid #ffffff;
	}
	
#navigation a {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:8px 6px 10px 26px;
	background: #e6ecf1 url("mm_arrow.gif") 14px 45% no-repeat;
	}
	
#navigation a:hover {
	background: #d5dce0 url("mm_arrow.gif") 14px 45% no-repeat;
	color:#FF6600;
	}
	
#logo 	{
	font:24px Verdana, Arial, Helvetica, sans-serif;
	color: #CCFF99;
	letter-spacing:.2em;
	line-height:30px;
	}

#tagline 	{	
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color: #FF9933;
	letter-spacing:.4em;
	line-height:18px;
	}

#monthformat {
	border-bottom: 2px solid #E6F3FF;
		}
		
#dateformat {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	letter-spacing:.01em;
	}
	
#dateformat a {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	font-weight:bold;
	letter-spacing:.01em;
	}
	
#dateformat a:hover {
	color: #FF6600;
	letter-spacing:.01em;
	}
	
/* Class Styles */
	
.bodyText {
	font:14px cambria, Arial, Helvetica, sans-serif;
	color:#A40000;
	line-height:20px;
	margin-top:0px;
	font-weight:bold;
	}
	.bodyblink {
	font:16px Cambria;
	color:#F00;
	line-height:20px;
	margin-top:0px;
	font-weight:bold;
	}
.pageName{
	font: 18px Verdana, Arial, Helvetica, sans-serif;
	color: #3366CC;
	line-height:24px;
	letter-spacing:.2em;
	}
	
.subHeader {
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #3366CC;
	line-height:16px;
	letter-spacing:.2em;
	}

.quote {
	font: 20px Verdana, Arial, Helvetica, sans-serif;
	color: #759DA1;
	line-height:30px;
	}
	
.smallText {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	}
	
.navText
 {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #C13F00;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}
	
.butt
{
background-color:#0167ac;
color:#FFFFFF;
font-family:verdana;
font-size:14px;
height:22px;
border-style:double;
border-color:#fbbf72;
}
.tab
{
	border:1px solid;
	border-collapse:collapse;
	background-color:#82C0FF;
	border-color:#FFFFFF;
	font-size:10px;
	color: #006;
}
.tab1
{
border:1px solid ;
 border-collapse:collapse;
 
 border-color:#FFFFFF;
 color:#002400;
}

.caption1
{
background-color:#C0C0C0;
color:#FF0000;
font-size:20px;
font-family:cambria;
font-weight:bold;
height:50px;
vertical-align:middle;
}
.tab_head
{

color:#9B0000;
background-color:#E0E0E0;
font-size:16px;
font-family:cambria;
font-weight:bold;
}
.bodyText1 {
	font:13px Verdana, Arial, Helvetica, sans-serif;
	color:#0000C1;
	line-height:20px;
	margin-top:0px;
	}
a
{
	 text-decoration:none;
	 color: #004c76;
/*	 color:#F00;*/
	 font-size:14px;
}
img
{
	border:hidden;
}
.submit_app
{
	font-family:"Times New Roman", Times, serif;
	color:#B00;
	font-size:20px;
}
input
{
	font-family:Verdana;
	border:1px solid #c2c2c8;
	height:20px;
	color:#000;
	
}select
{
	font-family:verdana;
	color:#000;

	
}
textarea
{
	font-family:Verdana;
	color:#000;
	border-color:#FFF;
	
}
.style1 {color: #B0620B}
.style2 {font-size: 12px;font-weight:bold;}

.butt1
{
background-color:#FF2F2F;
color:#FFFFFF;
font-family:verdana;
font-size:10px;
height:22px;
border-style:double;
border-color:#fbbf72;
}
.butt4
{
background-color:#575757;
color:#FFFFFF;
font-family:verdana;
font-size:10px;
height:22px;
border-style:double;
border-color:#fbbf72;
}


	
#main{
	width:100%;
	margin:0 auto;
	background-color:#f3faff;
	}
	
#footer{
	clear:both;
	width:100%;
	margin:0;
	background-image:url(../images/btmbg2.gif);
	height:77px;
	background-repeat:repeat-x;
	font-family:verdana;
	font-size:11px;
	color:#ffffff;
	}

#header{
	height:149px;
	margin:0;
	background-color:#89bfe3;
	background-image:url(../images/sb_toppic.jpg);
	background-repeat:no-repeat;
	background-position:left;
	}

#sidemenu{
	width: 200px;
	margin-top:-5px;
	height:300px;
	min-height:400px;
	}







.glossymenu{
margin: 5px 0;
padding: 0;
width: 200px;
/*position:inherit;*/
}

.glossymenu a.menuitem{
background: black url(../../lib/images/glossyback.gif) repeat-x top left;
font-family:verdana;
font-weight:200;
height:32px;
font-size:12px;
display: block;
border-bottom:1px solid #fff;
width: 200px;
padding-left: 10px;
text-decoration: none;
/*text-align:inherit;*/

}

.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
color:#374e6d;

}


.glossymenu a.menuitem:hover{
background-image: url(../../lib/images/glossyback1.gif);
background-repeat:repeat-x;
}








#content{
	float:left;
	min-height:700px;
	
	
 /*1512*/
	
	
	width:770px;
	font-family:verdana;
	font-size:12px;
	color:#565656;
	text-align:justify;
	padding-left:10px;
	}
	#content_qst{
	display:block;
	float:right;
	width:700px;
	font-family:verdana;
	font-size:12px;
	color:#013D6D;
	text-align:justify;
	padding-left:10px;
	}
	#content_qstcan{
		display:block;
	float:right;
	width:700px;
	font-family:verdana;
	font-size:12px;
	color:#F5071F;
	text-align:justify;
	padding-left:10px;
	}
	#content123{
	float:left;
	width:700px;
	font-family:verdana;
	font-size:12px;
	color:#565656;
	text-align:justify;
	
	}

#welcome{
	float:right;
	font-family: verdana;
	color:#fff;
	font-size:12px;
	padding-right:10px;
	padding-top:10px;
	}

#topmenu{
	background-image:url(../images/topmenu.gif);
	height:32px;
	background-repeat:repeat-x;
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	width: 100%;
	line-height:32px;
	color:#ffffff;
	}

	
.preview
{
	color:#F00;
	font-size:14px;
	font-family:cambria;
}
.head2
{
	color:#0000BF;
	font-size:18px;
	font-family:cambria;
}

.butt2
{
background-color:#0167ac;
color:#C00;
font-family:verdana;
font-size:11px;

border-style:double;
border-color:#fbbf72;
}
.butt3
{
background-color:#003162;
color:#FFFFFF;
font-family:verdana;
font-size:11px;
height:22px;
border-style:double;
border-color:#fbbf72;
}
.tab2
{
border:1px solid ;
 border-collapse:collapse;
 
 border-color:#FFFFFF;
 color:#004000;
}
.pagi
{
background-color:#002F5E;
color:#FFFFFF;
font-family:verdana;
font-size:14px;
height:22px;
border-style:double;
border-color:#fbbf72;
}


/*****************************Pagination CSS************************************************/
/*Scott*/
div.pagination {
padding: 3px;
margin: 3px;
text-align:center;
}

div.pagination a {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #369da4;

text-decoration: none; /* no underline */
color: #369da4;
}
div.pagination a:hover, div.digg a:active {
border: 1px solid #000099;

color: #000;
}
div.pagination span.current {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #f0ad4d;

font-weight: bold;
background-color: #369da4;
color: #FFF;
}
div.pagination span.disabled {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #EEE;

color: #DDD;
}
.tab_view
{
	 background-color:#f5f5f6;
	 color:#003D79;
	 font-family:verdana;
	 font-size:large;
	 border-style:solid;
	 border-collapse:collapse;
	 border-color:#dbdbde;
	 border-left-color:#FFF
}
.th_head
{
	color:#1e929c;
	background-color:#d9f7ea;
	font-size:13px;
	font-family:Verdana;
	text-transform:uppercase;
}
caption
{
   	color:#FFf;
 	background-color:#f2a62c;
	font-family: verdana;
	font-size:18px;
	height:30px;
	padding-top:5px;
	vertical-align:middle;
}
.butt
{
	background-color:#E1E1FF;
	color:#D20000;
	border-style:double;
	font-family:"Times New Roman", Times, serif;
	height:20px;
}


.main-table-odd{background-color:#FFFFFF;
font-family:verdana;
font-size:13px;
font-style:normal;
font-weight:500;
color:#020202;
}

.main-table-even{background-color:#EFEFF8;
font-family:verdana;
font-size:13px;
}
/*h4 {text-decoration:blink}*/

.head_tab
{
color:#814141;
	font-family:"Courier New", Courier, monospace;
font-size:15px;
font-weight:bold;
text-align:center;
}
.head1
{
	color:#BB005E;
	font-size:15px;
	font-weight:bold;
	font-family:"Times New Roman", Times, serif
}
.head3
{
	color:#9D3300;
	font-size:12px;
	font-weight:bold;
	font-family:"Times New Roman", Times, serif
}
.head4
{
	color:#480091;
	font-size:14px;
	font-weight:bold;
	font-family:"Times New Roman", Times, serif
}
img
{
	border:none;
}
/*********************************************************************************************************/



/* 15-12-2012    */








